<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li style="font-weight:bold"><%= link_to "Home", welcome_index_path %></li>
      <li style="font-weight:bold"><%= link_to "About", welcome_about_path %></li>
      <% if user_signed_in? %>
        <li style="font-weight:bold;float:right"> <%= link_to "#{current_user.email}", edit_user_registration_path %></li>
      <% else %>
        <li style="font-weight:bold"><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li style="font-weight:bold"><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end%>
    </ul>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
<small>
  <small>
    <div class="row">
    <div style="float:left;padding-top:5px">

    <% if user_signed_in? %>
      <% if current_user.standard? %>
      <div class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-hand-up">
        <%= link_to "Upgrade to Premium", new_charge_path, class: 'navbar-link', style:"color:white"  %>
      </span>
    </div>
      <% elsif current_user.premium? %>

      <div class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-hand-down">
        <%= link_to "DowngradeToStandard", edit_user_registration_path, :class => 'navbar-link', style:"color:white"  %>
       </span>
      </div>
      <% end %>

      <div class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-cog">
        <%= link_to 'AccountSettings', edit_user_registration_path, class: 'navbar-link', style:"color:white" %>
        </span>
      </div>
      <div class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-log-out">
        <%= link_to "SignOut", destroy_user_session_path, method: :delete, class: 'navbar-link', style:"color:white"  %>
        </span>
      </div>
     <% end %>
    </div>

    <div style="float:right;padding-top:5px">
      <div class="btn btn-warning btn-xs">
        <span class="glyphicon glyphicon-list-alt">
        <%= link_to "PublicWikis",wikis_path, class: 'navbar-link', style:"color:white"  %>
        </span>
      </div>

      <% if current_user != nil && current_user.admin_premium? %>
      <div class="btn btn-warning btn-xs">
        <span class="glyphicon glyphicon-list-alt">
      <%= link_to "PrivateWikis", wikis_private_index_path, :class => 'navbar-link', style:"color:white"  %>
       </span>
      </div>
       <% end %>
    </div>
  </small>
  </small>




  <%= yield %>
  </div>

</body>
</html>
